backports.functools-lru-cache==1.6.4
bbknn==1.5.1
blinker==1.4
bokeh==2.4.3
brotlipy==0.7.0
cached-property==1.5.2
cdlib==0.2.6
chardet==4.0.0
conda==4.10.3
conda-package-handling==1.7.3
dca==0.3.3
gprofiler-official==1.0.0
harmonypy==0.0.5
imagecodecs==2021.8.26
importlib-metadata==4.8.1
importlib-resources==5.3.0
ipympl==0.9.2
jupyterhub==1.4.2
jupyterlab==3.2.1
louvain==0.7.0
magic-impute==3.0.0
mamba==0.17.0
mnnpy==0.1.9.5
mock==4.0.3
olefile==0.46
palantir==1.0.0
pcurvepy==1.0
phate==1.0.7
pip-chill==1.0.3
pycurl==7.44.1
pydpc==0.1.3
pygam==0.8.0
pyjwt==2.3.0
pypairs==3.2.3
pyqt5==5.12.3
pyqt5-sip==4.19.18
pyqtchart==5.12
pyqtwebengine==5.12.1
pyscenic==0.12.1
pyslingshot==0.0.1
pysocks==1.7.1
scanorama==1.7.1
scikit-misc==0.1.4
scrublet==0.2.3
scvi-tools==0.14.6
setuptools-scm==6.3.2
sphinx==4.2.0
trimap==1.0.15
xlsxwriter==1.4.4
